{% extends "common/base.html" %}
{% block main_content %}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <form action="/task/" method="POST">
                        <input type="hidden" value="YnVLeVdCbllPBCgNIA8KahMZBR1gcAAzGgYeDBgxVjIQRjEBHToFEQ=="
                               name="_csrf">
                        <div class="col-xs-12 col-sm-8" style="padding-left: 0;margin-bottom: 10px;">
                            <div class="input-group">
                                <input type="text" name="kw" class="form-control search-query"
                                       placeholder="上线标题、commit号">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm">
                            Search
                            <i class="icon-search icon-on-right bigger-110"></i>
                        </button>
                    </span>
                            </div>
                        </div>
                    </form>
                    <a class="btn btn-default btn-sm" href="/task/submit/">
                        <i class="icon-pencil align-top bigger-125"></i>
                        创建上线单 </a>
                </div><!-- /.box-header -->
                <div class="box-body no-padding clearfix">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody id="table-list">
                        <tr>
                            <th>开发者</th>
                            <th>项目</th>
                            <th>上线单标题</th>
                            <th>上线时间</th>
                            <th>分支</th>
                            <th>上线commit号</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>

                        <tr v-for="item in data">
                            <td>{[ item.user_id ]}</td>
                            <td>瓦力 - 测试环境</td>
                            <td>{[ item.title ]}</td>
                            <td>{[ item.created_at ]}</td>
                            <td>{[ item.branch ]}</td>
                            <td>{[ item.commit_id ]}</td>
                            <td class="task_status_1_color">
                                审核通过{[ item.status ]}
                            </td>
                            <td>
                                <div class="action-buttons">
                                    <label>
                                        <input class="ace ace-switch ace-switch-5 task-operation" checked=""
                                               type="checkbox" data-id="116">
                                        <span class="lbl"></span>
                                    </label>
                                    <!-- 通过审核可以上线的任务-->
                                    <a :href="startDeployUrl(item.id)" class="green">
                                        <i class="icon-cloud-upload text-success bigger-130" data-id="116"></i>
                                        上线 </a>
                                    <!-- 回滚的任务不能再回滚-->
                                    <a class="red btn-delete" href="javascript:;" data-id="116">
                                        <i class="icon-trash bigger-130"></i>
                                        删除 </a>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <ul class="pagination page-bar">
                    <li v-if="cur>1"><a v-on:click="cur--,pageClick()">«</a></li>
                    <li v-if="cur==1"><a class="banclick">«</a></li>
                    <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                        <a v-on:click="btnClick(index)">{[ index ]}</a>
                    </li>
                    <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">»</a></li>
                    <li v-if="cur == all" class="next"><a class="banclick">»</a></li>
                    <li><a>共{[all]}页</a></li>
                </ul>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

{% endblock %}


{% block main_javascript %}
<script type="text/javascript">

    var list_data = null
    $.ajax({
        type: "GET",
        url: "http://localhost:5000/deploy/list",
        dataType: "json",
        success: function (data) {
            list_data = data

            list_table = new Vue({
                el: '#table-list',
                delimiters: ['{[', ']}'],
                data: {data: list_data.data},
                methods: {
                    startDeployUrl: function(val) {
                        console.log(val)
                        return "/deploy/start?task_id=" + val
                    }
                }
            });

            var pageBar = new Vue({
                el: '.page-bar',
                delimiters: ['{[', ']}'],
                data: {
                    all: list_data.count, //总页数
                    cur: 1//当前页码
                },
                watch: {
                    cur: function (newPage, oldPage) {
                        this.data = list_data
                        self = this
                        $.get("http://localhost:5000/deploy/list?page=" + newPage + "&size=2", function (data) {
                            self.data = data.data
                            list_table.data = data.data
                        })
                    }
                },
                methods: {
                    btnClick: function (data) {//页码点击事件
                        if (data != this.cur) {
                            this.cur = data
                        }
                    },
                    pageClick: function () {
                        console.log('现在在' + this.cur + '页');
                    }
                },

                computed: {
                    indexs: function () {
                        var left = 1;
                        var right = this.all;
                        var ar = [];
                        if (this.all >= 5) {
                            if (this.cur > 3 && this.cur < this.all - 2) {
                                left = this.cur - 2
                                right = this.cur + 2
                            } else {
                                if (this.cur <= 3) {
                                    left = 1
                                    right = 5
                                } else {
                                    right = this.all
                                    left = this.all - 4
                                }
                            }
                        }
                        while (left <= right) {
                            ar.push(left)
                            left++
                        }
                        return ar
                    }

                }
            })
        }
    })
</script>

{% endblock %}