{% extends "common/base.html" %}
{% block main_content %}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <style>
                .status > span {
                    float: left;
                    font-size: 12px;
                    width: 14%;
                    text-align: right;
                }

                .btn-deploy {
                    margin-left: 30px;
                }

                .btn-return {
                    /*float: right;*/
                    margin-left: 30px;
                }
            </style>
            <div class="box" style="height: 100%">
                <h4 class="box-title header smaller red">
                    <i class="icon-map-marker"></i>测试环境 -
                    营销中心 ：
                    d （branch:feature-sem_city_hy 版本号：）
                    <button type="submit" class="btn btn-primary btn-deploy" data-id="573">部署</button>
                    <a class="btn btn-success btn-return" href="/task/index">返回</a>
                </h4>
                <div class="status">
                    <span><i class="fa fa-circle-o text-yellow step-1"></i>权限、目录检查</span>
                    <span><i class="fa fa-circle-o text-yellow step-2"></i>pre-deploy任务</span>
                    <span><i class="fa fa-circle-o text-yellow step-3"></i>代码检出</span>
                    <span><i class="fa fa-circle-o text-yellow step-4"></i>post-deploy任务</span>
                    <span><i class="fa fa-circle-o text-yellow step-5"></i>同步至服务器</span>
                    <span style="width: 28%"><i class="fa fa-circle-o text-yellow step-6"></i>全量更新(pre-release、更新版本、post-release)</span>
                </div>
                <div style="clear:both"></div>
                <div class="progress progress-small progress-striped active">
                    <div class="progress-bar progress-status progress-bar-success" style="width: 0%;"></div>
                </div>

                <div class="alert alert-block alert-success" id="console" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                </div>

                <div class="alert alert-block alert-success result-success" style="display: none">
                    <h4><i class="icon-thumbs-up"></i>上线成功: )</h4>
                    <p>辛苦了，小主：）</p>
                </div>

                <div class="alert alert-block alert-danger result-failed" style="display: none">
                    <h4><i class="icon-bell-alt"></i>上线出错:（</h4>
                    <span class="error-msg">
                    </span>
                    <br><br>
                    <i class="icon-bullhorn"></i><span>请联系SA或者重新部署</span>
                </div>

            </div>

        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
{% endblock %}


{% block main_javascript %}
<script type="text/javascript">
    var ws = new WebSocket('ws://localhost:8888/aso');
    ws.onmessage = function(event) {
        var data = eval('(' + event.data + ')');
        $('#console').append('<div class="console-item">[' + data['host'] + '] ' + data['command'] + '<br>' + data['message'].replace(/\r\n/g,"<BR>").replace(/\r/g,"<BR>") + '</div>')
    };
    $('.btn-deploy').click(function() {
        $('#console').show()
        ws.send('pwd');
    })
</script>
{% endblock %}