{% extends "common/passport.html" %}
{% block main_content %}
<div class="content">
    <div class="login-wrap">
        <h4 class="title">欢迎注册</h4>

        <form id="signup-form" @submit.prevent="submit">
            {{ form.csrf_token }}
            <div class="form-group field-loginform-username required">
                <label value="用户名" style="display:none" for="loginform-username">邮箱</label>
                <input v-model="user.email" v-on:blur="email_exists" type="text" id="loginform-username" class="txt"
                       name="email"
                       placeholder="请输入邮箱">

                <p id="error_user" class="error">{[ user.email_error ]}</p>
            </div>
            <div class="form-group field-loginform-password required">
                <label style="display:none" for="loginform-password">密码</label>
                <input v-model="user.password" v-on:keyup="password_strength" type="password" id="loginform-password"
                       class="txt pwd" name="password"
                       placeholder="请输入密码">
                <p id="error_password" class="error">{[ user.password_error ]}</p>

            </div>
            <div class="form-group">
                <button type="submit" class="btn" name="login-button">注 册</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block main_javascript %}
<script>
    var app6 = new Vue({
        delimiters: ['{[', ']}'],
        el: '#signup-form',
        data: {
            user: {
                message: '',
                message_error: '',
                password: '',
                password_error: '',
                csrf_token:''
            },

        },
        methods: {
            email_exists: function (event) {
                var _self = this

                if (this.user.email.match(/^(.+)@(.+)\.(.+)$/) == null) {
                    this.user.email_error = _self.user.message + ' 格式不正确'
                    return
                }
                $.get('/passport/email_exists?email=' + _self.user.email, function (ret) {
                    if (ret.code != 0) {
                        _self.user.email_error = _self.user.message + ' 已存在'
                    } else {
                        _self.user.email_error = ''

                    }
                })
            },
            password_strength: function (event) {
                if (this.user.password.match(/^(?=\d{0,}[a-zA-Z])(?=[a-zA-Z]{0,}\d)[a-zA-Z0-9]{6,}$/) == null) {
                    this.user.password_error = '密码为6个字符以上,包含数字或字符组成'
                } else {
                    this.user.password_error = ''

                }
            },
            submit: function () {
                this.user.csrf_token=$('input[name=csrf_token]').val()
                $.post('/passport/signup', this.user), function(ret) {
                    console.log(ret.data)
                }
            }

        }
    })
</script>
{% endblock %}
