{% extends "common/passport.html" %}
{% block main_content %}
<div class="content">
    <div class="login-wrap">
        <h4 class="title">欢迎登录</h4>

        <form id="signin-form" @submit.prevent="submit">
            {{ form.csrf_token }}
            <div class="form-group field-loginform-username required">
                <label value="用户名" style="display:none" for="loginform-username">邮箱</label>
                <input v-model="user.email" type="text" id="loginform-username" class="txt"
                       name="email"
                       placeholder="请输入邮箱">

                <p id="error_user" class="error"></p>
            </div>
            <div class="form-group field-loginform-password required">
                <label style="display:none" for="loginform-password">密码</label>
                <input v-model="user.password" type="password" id="loginform-password"
                       class="txt pwd" name="password"
                       placeholder="请输入密码">
                <p id="error_password" class="error">{[ user.login_error ]}</p>

            </div>
            <div class="form-group">
                <button type="submit" class="btn" name="login-button">登 录</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block main_javascript %}

<script>
    var app6 = new Vue({
        delimiters: ['{[', ']}'],
        el: '#signin-form',
        data: {
            user: {
                message: '',
                password: '',
                login_error: '',
                csrf_token:''
            },

        },
        methods: {
            submit: function () {
                this.user.csrf_token=$('input[name=csrf_token]').val()
                $.post('/passport/signin', this.user, function(ret) {
                    console.log(ret.data)
                    if (ret.code == 0) {
                        window.location.href = '/deploy/';
                    }
                })
            }

        }
    })
</script>
{% endblock %}
