#header {
    height: 60px;
    line-height: 60px;
    background: #34495E;
    padding: 0 28px;
}

#header a {
    color: #fff;
    font-size: 22px;
}

#header a:hover {
    text-decoration: none;
}

#header a img {
    vertical-align: middle;
    margin: 0 4px 0 0;
}

#header a h1 {
    display: inline-block;
}

#main {
    padding: 120px 0 0 0;
}

#main .content {
    height: 450px;
}

.login-wrap {
    padding: 0 35px 35px;
    background: #e6ebef;
    margin: 0 auto;
    width: 482px;
}

.login-wrap .title {
    color: #355671;
    height: 80px;
    line-height: 80px;
    font-size: 22px;

}

.login-wrap .txt {
    height: 48px;
    width: 470px;
    border: 1px solid #d4d4d4;
    margin: 0 0 20px 0;
    padding: 0 0 0 10px;
    font-size: 14px;
}

#loginform-phone {
    width: 75%;
    box-sizing: border-box;
}

#send-code {
    display: inline-block;
    width: 23%;
    box-sizing: border-box;
    background-color: #009688;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

#send-code:hover {
    background-color: #009688;
}

#send-code.disabled {
    background-color: #009688;
    cursor: not-allowed;
}

.login-wrap .btn {
    height: 51px;
    width: 482px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #ff9632;
}

.login-wrap .error {
    color: red;
    font-size: 14px;
}

.login-wrap .info {
    line-height: 50px;
}

.login-wrap .info a {
    color: #0066cc;
    font-size: 14px;
}

#footer {
    padding: 0 28px;
    line-height: 60px;
    background: #efefef;
    color: #999;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e1e1e1;
}

#footer .inline {
    border-top: 1px solid #f6f6f6;
    width: 100%;
}

